@import "../../style/variables";

.profile {
  max-width: 1200px;
  margin: 0 auto;
  h1 {
    // margin-left: 15rem;
    border-bottom: 1px solid $primary-color-gray;
    width: 100%;
  }

  &-childs {
    margin-top: 2rem;
    display: flex;
    flex-direction: column;
    align-items: center;

    .subscription {
      width: 100%;
      display: flex;
      margin-top: 2rem;
      &-header {
        text-transform: capitalize;
        width: 100%;
        margin-right: 10rem;
      }

      &-cancel {
        text-transform: capitalize;
        color: $primary-color-dark;
        padding: 0.5rem 1.3rem;
        width: 100%;
        margin-top: 1rem;
        font-weight: 500;
        outline: none;
        border: 1px solid #e6e6e6;
        background-color: #e6e6e6;

        &:hover {
          background-color: #f2f2f2;
        }
      }
    }

    &__information {
      display: flex;
      margin-left: auto;
      ul {
        li {
          flex-direction: column;
          list-style-type: none;
          padding-bottom: 1rem;

          &:last-child {
            margin-top: 1.4rem;
          }
        }
      }
    }
  }
}

.update-profile {
  max-width: 1200px;
  margin: 0 auto;

  &__input {
    width: 50%;
    border: 1px solid $primary-color-dark;
    font-size: 1.2rem;
    padding: 0.5rem 1rem;
    outline: none;
  }

  .form {
    div {
      margin: 2rem;
    }

    .update {
      background-color: #2891fb;
      outline: none;
      border: 1px solid #2891fb;
      font-size: 1.4rem;
      padding: 0.3rem 3rem;
      color: $primary-color-white;

      &:hover {
        background-color: #3b99f7;
      }
    }
  }
}

@media screen and (max-width: 768px) {
  .profile-childs {
    .subscription {
      flex-direction: column;
      align-items: center;
    }

    &__information {
      margin: 1rem auto;
    }
  }
}
