@import "../../style/variables";

.plans {
  max-width: 1200px;
  margin: 0 auto;

  &-child {
    padding-top: 1rem;
    table {
      width: 100%;
      text-align: center;
      border-spacing: 2px;
      border-collapse: separate;
      font-weight: 500;
      th {
        background-color: $primary-color-red;
        color: $primary-color-white;
        width: 90px;
        height: 120px;

        &:first-child {
          visibility: hidden;
        }
      }

      td {
        border-bottom: 1px solid #e6e6e6;
        padding: 1rem 0;
        &:first-child {
          text-align: left;
        }
      }
    }

    &__btn {
      width: 50%;
      margin: 1rem auto;
      a {
        background-color: $primary-color-red;
        color: $primary-color-white;
        padding: 0.7rem 0;
        text-transform: uppercase;
        font-weight: 600;
        font-size: 1.1rem;
        width: 100%;
        display: inline-block;
        text-align: center;

        &:hover {
          color: $primary-color-white;
          background-color: $netflix-color-hover;
          text-decoration: none;
        }
      }
    }
  }
}

.active-plan {
  color: $primary-color-red;
}
