@import "../../style/variables";

.portal-modal {
  max-width: 1200px;
  margin: 0 auto;

  &__child {
    position: fixed;
    top: 50%;
    left: 55%;
    transform: translate(-50%, -50%);
    width: 65%;
  }

  &__image {
    width: 80%;
    position: relative;
    text-align: center;

    img {
      width: 100%;
      height: auto;
      border-radius: 5px;
    }

    .modal-close {
      position: absolute;
      top: 1.5rem;
      right: 1.5rem;

      button {
        text-align: center;
        background-color: transparent;
        outline: none;
        border: none;

        .close-icon {
          font-size: 2rem;
          border: 1px solid $netflix-color-dark;
          border-radius: 50%;
          color: $primary-color-white;
          background-color: $netflix-color-dark;
          padding: 0.2rem;
        }
      }
    }
  }

  &__btns {
    position: relative;
    .portal-btns__child {
      display: flex;
      position: absolute;
      left: 5%;
      bottom: 22%;
    }

    button {
      border: none;
      outline: none;
      margin: 0 0.2rem;
      background-color: transparent;
    }
    .modal-play__btn {
      background-color: $secondary-color-gray;
      padding: 0.4rem 2rem;
      font-size: 1.2rem;
      display: flex;

      &:hover {
        background-color: $primary-color-white;
      }
    }
  }

  &__description {
    background-color: $netflix-color-dark;
    border-bottom-left-radius: 5px;
    border-bottom-right-radius: 5px;
    width: 80%;
    height: 200px;
    display: flex;
    justify-content: space-between;
    padding: 1rem 1rem;
    color: $primary-color-white;
  }
}

.overlay {
  position: fixed;
  left: 0;
  top: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(0, 0, 0, 0.6);
  backdrop-filter: blur(4px);
}

.plus-icon,
.like-icon {
  font-size: 3rem;
  border: 2px solid $primary-color-gray;
  border-radius: 50%;
  color: $primary-color-white;
  background-color: rgba($netflix-color-dark, 0.8);
  padding: 0.6rem;
  transition: all 0.2s;

  &:hover {
    border-color: $primary-color-white;
  }
}

@media screen and (max-width: 998px) {
  .portal-modal {
    &__child {
      width: 70%;
    }

    .plus-icon,
    .like-icon {
      font-size: 2.5rem;
    }
  }
}
@media screen and (max-width: 768px) {
  .portal-modal {
    &__child {
      width: 85%;
      left: 62%;
    }

    .modal-play__btn {
      padding: 0.4rem 1.5rem;
      font-size: 1.1rem;
    }
  }
}
@media screen and (max-width: 550px) {
  .portal-modal {
    &__child {
      width: 100%;
    }

    &__image {
      .modal-close {
        top: 0.4rem;
        right: 0.4rem;
        button {
          .close-icon {
            font-size: 1.7rem;
          }
        }
      }
    }

    &__btns {
      .modal-play__btn {
        font-size: 0.9rem;
      }
    }

    &__description {
      height: auto;
    }

    .plus-icon,
    .like-icon {
      font-size: 2rem;
      font-weight: bolder;
    }
  }
}
