@import "../../style/variables";

.navbar {
  display: flex !important;
  background-color: transparent;
  align-items: center !important;
  padding: 0 3rem !important;
  position: relative;
  &-logo {
    &__item {
      img {
        width: 180px;
        height: auto;
      }
    }
  }

  &-navs {
    display: flex;

    &__item {
      list-style-type: none;
      margin-right: 1rem;
      font-size: 1rem;
      font-weight: 500;
    }

    &__link {
      text-decoration: none;
      color: $primary-color-white;
      transition: all 0.2s;
      &:hover {
        text-decoration: none;
        color: $primary-color-gray;
      }
    }
  }

  .last-child {
    margin-left: auto;

    .sign-in {
      background-color: $primary-color-red;
      color: $primary-color-white;
      padding: 0.5rem 1rem;
      border-radius: 5px;
      text-decoration: none;
      font-weight: 500;
    }

    .browse-navbar {
      display: flex;
      list-style-type: none;

      &__item {
        padding-right: 1.4rem;
      }

      &__link {
        color: $primary-color-white;
        &:hover {
          text-decoration: none;
        }

        .avatar {
          width: 35px;
          height: auto;
          border-radius: 5px;
        }
      }
    }
  }
}

.dropdown-btn {
  position: relative;

  &:hover .dropdown-content {
    display: block;
  }
}

.dropdown-content {
  position: absolute;
  background-color: $primary-color-dark;
  height: 130px;
  width: 130px;
  padding: 0.7rem;
  opacity: 0.7;
  margin-left: -3.5rem;
  border: 1px solid $primary-color-gray;
  display: none;
  z-index: 10;

  a {
    display: block;
    color: $primary-color-white;
    margin: 1rem 0;

    &:hover {
      color: $primary-color-white;
      text-decoration: underline !important;
    }
  }
}
.hamburger {
  color: $primary-color-white;
  display: none;
  position: absolute;
  top: 1.5rem;
  right: 1.5rem;
  cursor: pointer;
}

.mobile-menu {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  height: 100%;
  position: fixed;
  animation: mobileMenuEntry 0.3s linear;
  background-color: $netflix-color-dark !important;
  top: 0;
  z-index: 20;

  &__navs {
    display: flex;
    justify-content: center;
    flex-direction: column;
    margin: auto 0;

    .navbar-navs__item {
      font-size: 1.3rem;
      margin: 0.3rem 0;
    }
  }

  .last-child {
    display: none;
  }
}

@media screen and (max-width: 768px) {
  .navbar {
    &-logo {
      &__item {
        img {
          width: 150px;
        }
      }
    }
    &-navs {
      display: none;
      &__item {
        margin: 0.7rem 0;

        font-size: 1.3rem;
      }
    }
    .last-child {
      display: none;
    }
  }

  .hamburger {
    display: block;
  }
}

@media screen and (max-width: 600px) {
}

@keyframes mobileMenuEntry {
  0% {
    transform: translateX(-200px);
  }

  100% {
    transform: translateX(0);
  }
}
