$primary-color-red: #e50914;
$primary-color-white: #ffffff;
$secondary-color-dark: #333333;
$primary-color-dark: #000000;
$primary-color-blue: #0071eb;
$primary-color-gray: #757575;
$netflix-color-dark: #141414;
$netflix-color-hover: #e6262f;
$secondary-color-gray: #e6e6e6;
